.container{
  position: relative;
  margin: 0px auto;
  box-sizing: border-box;
  padding: $space;
  max-width: $maxSiteWidth;
  width: 100%;
}

.container-fluid{
  position: relative;
  margin: 0px auto;
  box-sizing: border-box;
  padding: $space;
  width: 100%;
}

.pull-right{
  float: right;
}

.pull-left{
  float: left;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.no-padding-top{
  padding-top: 0;
}

.no-padding-left{
  padding-left: 0;
}

.no-padding-bottom{
  padding-bottom: 0;
}

.no-padding-right{
  padding-right: 0;
}

.row{
  margin: 0px (-$space);
}

.h1{
  font-size: 3rem;
}

.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}