{% load static %}
{% load djsingleton %}

<div class="navbar js-navbar">
    <div class="container">
        {% get_singleton 'datracker' 'SiteSettings' as site_settings %}
        <a href="#" class="navbar--logo">
            {% include 'includes/svg_logo.html' with is_bright=True additional_class='navbar--logo--image' %}
            <span class="navbar--logo--site-name">{{ site_settings.site_name }}</span>
            <span class="navbar--logo--site-slogan">{{ site_settings.site_slogan }}</span>
        </a>
        <ul class="navbar--menu">
            <li class="navbar--menu--item"><a href="#" class="navbar--menu--link">Home</a></li>
            <li class="navbar--menu--item active"><a href="#" class="navbar--menu--link">About us</a></li>
            <li class="navbar--menu--item"><a href="#" class="navbar--menu--link">Dashboard</a></li>
            <li class="navbar--menu--item"><a href="#" class="navbar--menu--link">Employees</a></li>
            <li class="navbar--menu--item"><a href="#" class="navbar--menu--link">Issues</a></li>
            <li class="navbar--menu--item"><a href="#" class="navbar--menu--link">FAQ</a></li>
            <li class="navbar--menu--item"><a href="#" class="navbar--menu--link">Logout</a></li>
        </ul>
        <button type="button" class="navbar--menu-toggle js-navbar--toggle"></button>
    </div>
</div>
