{% extends 'base.html' %}
{% load filters %}

{% block title %}Employee {{ employee.name }}{% endblock %}
{% block meta_title %}{{ employee.name }}{% endblock %}
{% block meta_description %}Review details of employee {{ employee.name }}.{% endblock %}
{% block content %}
    {% with can_update=True %} {#  perms.datracker.can_update #}

        <form class="employee-profile form row" action="{{ employee.get_absolute_url }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.errors }}
            <div class="employee-profile--content">
                <div class="form-group employee-profile--avatar">
                    <div class="employee-profile--avatar-wrapper js-avatar-uploader">
                        {% if can_update %}
                            <div class="employee-profile--avatar-upload-disclaimer">Upload an image</div>
                            {{ form.avatar|add_field_textfield_classes:'employee-profile--avatar-file-field js-avatar-uploader--file-field' }}
                        {% endif %}
                        <img src="http://via.placeholder.com/250x250" data-default-src="http://via.placeholder.com/250x25" alt="{{ employee.name }}" class="employee-profile--avatar-image js-avatar-uploader--image">
                    </div>
                </div>
                <div class="pull-left w-100 clearfix">

                    {% if can_update %}
                        <div class="form-group w-100">
                            {{ form.first_name.label }}
                            {{ form.first_name|add_field_textfield_classes:'form-field w-100' }}
                        </div>
                        <div class="form-group w-100 clear-left">
                            {{ form.last_name.label }}
                            {{ form.last_name|add_field_textfield_classes:'form-field w-100' }}
                        </div>
                        <div class="form-group w-100 clear-left">
                            {{ form.email.label }}
                            {{ form.email|add_field_textfield_classes:'form-field w-100' }}
                        </div>
                        <div class="form-group w-100 clear-left">
                            <label>Password</label>
                            <input class="form-field w-100" type="password" name="password">
                        </div>
                        <div class="form-group w-100 clear-left">
                            <label>Password repeat</label>
                            <input class="form-field w-100" type="password" name="password_repeat">
                        </div>
                    {% else %}
                        <div class="form-group w-100">
                            <strong>Full name</strong>: {{ employee.name }}
                        </div>
                        <div class="form-group w-100">
                            <strong>Email</strong>: {{ employee.email }}
                        </div>

                    {% endif %}
                </div>
            </div>
            {% if can_update %}
                <div class="form-group w-100">
                    <button type="submit" class="btn btn-big btn-primary w-100">Save profile</button>
                </div>
            {% endif %}
        </form>
    {% endwith %}

{% endblock %}

{% block extra_script %}
    

{% endblock %}