html{
    font-size: $fontSize;
}

body{
  font-family: $fontMain;
  line-height: $lineHeight;
  padding: 0px;
  margin: 0px;
  background-color: $bright;
}

.site-wrapper{
  padding-top: 100px;
}

.index-content--logo{
  max-width: 220px;
  max-height: 220px;
}

textarea{
  font-family: $fontMain;
}

@media (max-width: $breakpointMobile){
  .index-content--logo{
    display: block;
    margin: 0px auto;
  }
}

@media (min-width: $breakpointMobile + 1){
  .index-content--logo{
    float: right;
  }
}