/* COLORS */
$white: white;
$blue: #008ce2;
$blueHighlight: #77c1ef;
$bright: #ededed;
$dark: #1e1e1e;

/* FONTS */
$fontMain: 'Montserrat', sans-serif;
$fontSizeNum: 18;
$fontSize: #{$fontSizeNum}px;
$lineHeight: 1.8;

/* DIMENSIONS */
$maxSiteWidth: 1920px;
$space: 16px;

/* BREAKPOINTS */
$breakpointMobile: 600px;
